main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 6% 3% 0 3%;
    background-color: #88A7EA;
    padding: 5%;
    border-radius: 15px;
    padding-top: 1%;
}
main h1{
    text-align: center;
    margin-bottom: 40px;
    color: #d5ecff;
}
.cards {
    display: grid;
    gap: 20px;
    grid-template: "div div div" "div div div";
}
.cards div {
    margin-top: 3%;
    color: #d5ecff;
    background-color: #6C8AD5;
    padding: 4%;
    gap: 1%;
    border-radius: 15px;
    position: relative;
    transition: all ease 0.3s;
}
.cards div:hover {
    transform: translateY(-30px);
}
.cards h2 {
    font-size: 220%;
}
.cards p {
    font-size: 160%;
    margin-right: 50px;
}
.cards img {
    width: 200px;
}
.cards button{
    padding: 2% 10% 2% 10%;
    font-size: 180%;
    border-radius: 15px;
    color: #d5ecff;
    background-color: #1531AE;
    border: 0;
    transition: all ease 0.3s;
    width: 80%;
    position: absolute;
    bottom: 40px;
    left: 10%;
}
.cards button:hover{
    transform: scale(1.05);
}
.what {
    padding: 4%;
    background-color:#88A7EA;
    border-radius: 15px;
    margin-top: 15px;
    height: 350px;
}
#implant h2 {
    font-size: 195%;
}
.cards div nav {
    padding-bottom: 100px;
}

@media (max-width: 1100px) {
    main {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 180px 3% 0 3%;
        background-color: #bddbdb65;
        padding: 5%;
        border-radius: 15px;
        padding-top: 1%;
    }
    .cards {
        grid-template: none;
        font-size: 90%;
    }
    .card p {
        grid-column: auto;
    }
    .card button {
        width: 100%;
    }
    .card img {
        grid-column: auto;
    }
    .what {
        padding: 4%;
        background-color:#88A7EA;
        border-radius: 15px;
        margin-top: 15px;
        height: 100%;
    }   
}
main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 6% 3% 0 3%;
    background-color: #88A7EA;
    padding: 5%;
    border-radius: 15px;
    padding-top: 1%;
}
main h1{
    text-align: center;
    margin-bottom: 40px;
    color: #d5ecff;
}
.cards {
    display: grid;
    gap: 20px;
    grid-template: "div div div" "div div div";
}
.cards div {
    margin-top: 3%;
    color: #d5ecff;
    background-color: #6C8AD5;
    padding: 4%;
    gap: 1%;
    border-radius: 15px;
}
.cards h2 {
    font-size: 220%;
}
.cards p {
    font-size: 160%;
    margin-right: 50px;
}
.cards img {
    width: 200px;
}
.cards button{
    padding: 1% 10% 1% 10%;
    font-size: 150%;
    border-radius: 15px;
    color: #d5ecff;
    background-color: #1531AE;
    border: 0;
    transition: all ease 0.3s;
    width: 100%;
}
.cards button:hover{
    transform: scale(1.05);
}
.what {
    padding: 4%;
    background-color:#88A7EA;
    border-radius: 15px;
    margin-top: 15px;
}

@media (max-width: 1100px) {
    main {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 180px 3% 0 3%;
        background-color: #bddbdb65;
        padding: 5%;
        border-radius: 15px;
        padding-top: 1%;
    }
    .cards {
        grid-template: none;
        font-size: 90%;
    }
    .card p {
        grid-column: auto;
    }
    .card button {
        width: 100%;
    }
    .card img {
        grid-column: auto;
    }
}
